* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
}
a {
  display: inline-block;
  background-color: #007bff;
  text-decoration: none;
  width: 100px;
  height: 30px;
  text-align: center;

  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
}
h1 {
  text-align: center;
}
table {
  width: 1500px;
  text-align: center;
  border-collapse: collapse;
}
thead {
  color: white;
  height: 60px;
  background-color: #007bff;
}
th,
td {
  border: 1px solid rgb(218, 214, 214);
  height: 45px;
  font-size: 20px;
}
.addcoursebtn {
  background-color: #007bff;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 120px;
  border: none;
  margin-left: 20px;
  height: 30px;
}
.addcoursebtn:hover {
  cursor: pointer;
}
.deletebtn {
  background-color: red;
  border-radius: 6px;
  border: none;
  width: 80px;
  height: 20px;
}
.deletebtn:hover {
  cursor: pointer;
}
.coursemodel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  display: none;
  height: 400;
  width: 380px;
}

.coursemodel h3 {
  margin-top: -10px;
  text-align: center;
}

.coursemodel label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  color: #555;
  font-size: 14px;
}

.coursemodel input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.coursemodel input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}
.addbtn {
  color: white;
  background-color: green;
  width: 50px;
  border-radius: 6px;
  margin-top: 15px;
  border: none;
}
.cancelbtn {
  color: white;
  background-color: #6c757d;
  border-radius: 6px;
  border: none;
}
.addbtn,
.cancelbtn:hover {
  cursor: pointer;
}
button {
  font-weight: bold;
  color: white;
}
